hu_d04.urdf
**/__pycache__/*
**/*.egg-info/
deploy_mujoco/recordings/
deploy_mujoco/assets
logs/*
outputs/*
wandb/*
rsl_rl_v320/*
IsaacLab_v230/* 
general_motion_tracker_whole_body_teleoperation/general_motion_tracker_whole_body_teleoperation/assets/Q1.zip
general_motion_tracker_whole_body_teleoperation/general_motion_tracker_whole_body_teleoperation/assets/Q1_old/*
mjmodel.xml
