hu_d04.urdf
**/__pycache__/*
**/*.egg-info/
deploy_mujoco/recordings/
deploy_mujoco/assets
logs/*
outputs/*
wandb/*
rsl_rl_v320/*
IsaacLab_v230/* 
general_motion_tracker_whole_body_teleoperation/general_motion_tracker_whole_body_teleoperation/assets/Q1.zip
general_motion_tracker_whole_body_teleoperation/general_motion_tracker_whole_body_teleoperation/assets/Q1_old/*
mjmodel.xml
MUJOCO_LOG.TXT
lafan_Q1/*
artifacts/lafan_bvh/*
.vscode/*
MJMODEL.TXT
deploy_mujoco/artifacts/*
deploy_mujoco/deploy_policy/*
artifacts/*
retargeting_data_csv/*
MJDATA.TXT
deploy_mujoco/motion.npz
awesome_deploy/awesome_deploy/deploy_mujoco_recordings

awesome_deploy/awesome_deploy/tmp
awesome_deploy/awesome_deploy/assets
xsens_mvn_refactor_build/build/

GMR/assets
.codex
assets/**
hdf5_parse/hdf5/*
hdf5_parse/data_download.py
hdf5_parse/out/annotation_soma.npz
