<?xml version="1.0" encoding="utf-8"?>
<robot name="Q1">
  <mujoco>
    <compiler meshdir="../meshes" discardvisual="false" />
  </mujoco>
  <!-- [CAUTION] uncomment when convert to mujoco -->
  <!-- <link name="world"></link>
  <joint name="floating_base_joint" type="floating">
    <parent link="world" />
    <child link="pelvis_link" />
  </joint> -->
<!-- pelvis -->
  <link name="pelvis_link">
    <inertial>
      <origin xyz="-0.073896 1.65E-05 -0.056743" rpy="0 0 0" />
      <mass value="4.9667" />
      <inertia ixx="0.068073" ixy="-2.7E-06" ixz="-0.0008014" iyy="0.012482" iyz="-4E-07" izz="0.06714" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/pelvis_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.1 0 -0.05" rpy="0 0 0" />
      <geometry>
        <box size="0.08 0.35 0.1"/>
      </geometry>
    </collision>
  </link>
<!-- Left leg -->
  <link name="L_hip_roll_link">
    <inertial>
      <origin xyz="-0.014537 3.56E-05 0.0060132" rpy="0 0 0" />
      <mass value="1.4404" />
      <inertia ixx="0.0017914" ixy="7E-07" ixz="-8.5E-06" iyy="0.0022037" iyz="-2.8E-06" izz="0.0028489" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/L_hip_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.025" length="0.017"/>
      </geometry>
    </collision>
  </link>
  <joint name="L_hip_roll_joint" type="revolute"><!-- EC-A10020-P1-12 -->
    <origin xyz="-0.00010006 0.125 -0.059738" rpy="0 0 0" />
    <parent link="pelvis_link" />
    <child link="L_hip_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.2" upper="0.83" effort="72" velocity="14.660765717" />
  </joint>
  <link name="L_hip_yaw_link">
    <inertial>
      <origin xyz="-0.0005026 -0.0012996 -0.12753" rpy="0 0 0" />
      <mass value="3.6555" />
      <inertia ixx="0.01210998" ixy="-1.1E-06" ixz="0.0001283" iyy="0.014282" iyz="-5.49E-05" izz="0.0082634" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/L_hip_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-2.7849E-05 -0.0008477 -0.11745" rpy="1.570796327 0 0" />
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
    </collision>
  </link>
  <joint name="L_hip_yaw_joint" type="revolute"><!-- EC-A6416-P2-25 -->
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="L_hip_roll_link" />
    <child link="L_hip_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-0.78" upper="0.78" effort="55" velocity="12.566370614" />
  </joint>
  <link name="L_hip_pitch_link">
    <inertial>
      <origin xyz="0.01036 0.0011742 -0.13599" rpy="0 0 0" />
      <mass value="2.0912" />
      <inertia ixx="0.034604" ixy="-3.85E-05" ixz="0.0009532" iyy="0.033285" iyz="-3.7E-05" izz="0.0089088" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/L_hip_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.12" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.025" length="0.09"/>
      </geometry>
    </collision>
  </link>
  <joint name="L_hip_pitch_joint" type="revolute"><!-- EC-A10020-P2-24 -->
    <origin xyz="0 0 -0.14" rpy="0 0 0" />
    <parent link="L_hip_yaw_link" />
    <child link="L_hip_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.64" upper="0.89" effort="130" velocity="12.88052988" />
  </joint>
  <link name="L_knee_link">
    <inertial>
      <origin xyz="-0.0003397 0.0004209 -0.12717" rpy="0 0 0" />
      <mass value="7.5002" />
      <inertia ixx="0.12621" ixy="7.56E-05" ixz="-0.0034065" iyy="0.13141" iyz="0.0002265" izz="0.015555" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/L_knee_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.19" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.025" length="0.1"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 -0.35" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.025" length="0.1"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0.0" rpy="1.570796327 0 0" />
      <geometry>
        <cylinder radius="0.025" length="0.1"/>
      </geometry>
    </collision>
  </link>
  <joint name="L_knee_joint" type="revolute"><!-- EC-A10020-P2-24 -->
    <origin xyz="0 0 -0.28502" rpy="0 0 0" />
    <parent link="L_hip_pitch_link" />
    <child link="L_knee_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.1" upper="2.3" effort="130" velocity="12.88052988" />
  </joint>
  <link name="L_ankle_pitch_link">
    <inertial>
      <origin xyz="-5.11E-05 0 -0.002907" rpy="0 0 0" />
      <mass value="0.046144" />
      <inertia ixx="3.6E-06" ixy="0" ixz="0" iyy="3.9E-06" iyz="0" izz="3.4E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/L_ankle_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.64706 0.61961 0.58824 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.001" length="0.001"/>
        <!-- <mesh filename="meshes/L_ankle_pitch_link.STL" /> -->
      </geometry>
    </collision>
  </link>
  <joint name="L_ankle_pitch_joint" type="revolute"><!-- EC-A8116-P1-18 -->
    <origin xyz="0 0 -0.452" rpy="0 0 0" />
    <parent link="L_knee_link" />
    <child link="L_ankle_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.87" upper="0.52" effort="66" velocity="14.660765717" />
  </joint>
  <link name="L_ankle_roll_link">
    <inertial>
      <origin xyz="0.031127 1.94E-05 -0.03235" rpy="0 0 0" />
      <mass value="0.96277" />
      <inertia ixx="0.0007965" ixy="1.5E-06" ixz="0.0006342" iyy="0.0056095" iyz="-6E-07" izz="0.0057684" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/L_ankle_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.072 0.029 -0.0517" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.072 -0.029 -0.0517" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.047 0.039 -0.0517" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.047 -0.039 -0.0517" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.079 0 -0.0517" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>

    <collision>
      <origin xyz="0.103 0.042 -0.0517" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.103 -0.042 -0.0517" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.158 0.034 -0.0517" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.158 -0.034 -0.0517" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.183 0 -0.0517" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
  </link>
  <joint name="L_ankle_roll_joint" type="revolute"><!-- EC-A8116-P1-18 -->
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="L_ankle_pitch_link" />
    <child link="L_ankle_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.26" upper="0.26" effort="66" velocity="14.660765717" />
  </joint>
<!-- Right leg -->
  <link name="R_hip_roll_link">
    <inertial>
      <origin xyz="-0.014537 -3.56E-05 0.0060132" rpy="0 0 0" />
      <mass value="1.4404" />
      <inertia ixx="0.0017914" ixy="-7E-07" ixz="-8.5E-06" iyy="0.0022037" iyz="2.8E-06" izz="0.0028489" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/R_hip_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.025" length="0.017"/>
      </geometry>
    </collision>
  </link>
  <joint name="R_hip_roll_joint" type="revolute"><!-- EC-A10020-P1-12 -->
    <origin xyz="-0.00010006 -0.125 -0.059738" rpy="0 0 0" />
    <parent link="pelvis_link" />
    <child link="R_hip_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.83" upper="0.2" effort="72" velocity="14.660765717" />
  </joint>
  <link name="R_hip_yaw_link">
    <inertial>
      <origin xyz="-0.0005022 0.0012999 -0.12753" rpy="0 0 0" />
      <mass value="3.6555" />
      <inertia ixx="0.0121" ixy="1.1E-06" ixz="0.0001282" iyy="0.014282" iyz="5.48E-05" izz="0.0082633" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/R_hip_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-2.7849E-05 -0.0008477 -0.11745" rpy="1.570796327 0 0" />
      <geometry>
        <cylinder radius="0.025" length="0.04"/>
      </geometry>
    </collision>
  </link>
  <joint name="R_hip_yaw_joint" type="revolute"><!-- EC-A6416-P2-25 -->
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="R_hip_roll_link" />
    <child link="R_hip_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-0.78" upper="0.78" effort="55" velocity="12.566370614" />
  </joint>
  <link name="R_hip_pitch_link">
    <inertial>
      <origin xyz="0.010376 -0.0011406 -0.13593" rpy="0 0 0" />
      <mass value="2.0922" />
      <inertia ixx="0.03461" ixy="3.58E-05" ixz="0.000948" iyy="0.033287" iyz="3.63E-05" izz="0.0089102" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/R_hip_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.12" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.025" length="0.09"/>
      </geometry>
    </collision>
  </link>
  <joint name="R_hip_pitch_joint" type="revolute"><!-- EC-A10020-P2-24 -->
    <origin xyz="0 0 -0.14" rpy="0 0 0" />
    <parent link="R_hip_yaw_link" />
    <child link="R_hip_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.64" upper="0.89" effort="130" velocity="12.88052988" />
  </joint>
  <link name="R_knee_link">
    <inertial>
      <origin xyz="-0.0003539 -0.0004116 -0.12717" rpy="0 0 0" />
      <mass value="7.5025" />
      <inertia ixx="0.12623" ixy="-7.33E-05" ixz="-0.0034017" iyy="0.13143" iyz="-0.0002212" izz="0.015566" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/R_knee_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.19" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.025" length="0.1"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 -0.35" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.025" length="0.1"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0.0" rpy="1.570796327 0 0" />
      <geometry>
        <cylinder radius="0.025" length="0.1"/>
      </geometry>
    </collision>
  </link>
  <joint name="R_knee_joint" type="revolute"><!-- EC-A10020-P2-24 -->
    <origin xyz="0 0 -0.28502" rpy="0 0 0" />
    <parent link="R_hip_pitch_link" />
    <child link="R_knee_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.1" upper="2.3" effort="130" velocity="12.88052988" />
  </joint>
  <link name="R_ankle_pitch_link">
    <inertial>
      <origin xyz="-5.11E-05 0 -0.002907" rpy="0 0 0" />
      <mass value="0.046143" />
      <inertia ixx="3.6E-06" ixy="0" ixz="0" iyy="3.9E-06" iyz="0" izz="3.4E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/R_ankle_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.001" length="0.001"/>
      </geometry>
    </collision>
  </link>
  <joint name="R_ankle_pitch_joint" type="revolute"><!-- EC-A8116-P1-18 -->
    <origin xyz="0 0 -0.452" rpy="0 0 0" />
    <parent link="R_knee_link" />
    <child link="R_ankle_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.87" upper="0.52" effort="66" velocity="14.660765717" />
  </joint>
  <link name="R_ankle_roll_link">
    <inertial>
      <origin xyz="0.031113 -1.04E-05 -0.032346" rpy="0 0 0" />
      <mass value="0.96254" />
      <inertia ixx="0.0007961" ixy="-2E-06" ixz="0.0006339" iyy="0.0056094" iyz="7E-07" izz="0.0057681" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/R_ankle_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.072 0.029 -0.0517" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.072 -0.029 -0.0517" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.047 0.039 -0.0517" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.047 -0.039 -0.0517" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.079 0 -0.0517" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>

    <collision>
      <origin xyz="0.103 0.042 -0.0517" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.103 -0.042 -0.0517" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.158 0.034 -0.0517" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.158 -0.034 -0.0517" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.183 0 -0.0517" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.005"/>
      </geometry>
    </collision>
  </link>
  <joint name="R_ankle_roll_joint" type="revolute"><!-- EC-A8116-P1-18 -->
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="R_ankle_pitch_link" />
    <child link="R_ankle_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.26" upper="0.26" effort="66" velocity="14.660765717" />
  </joint>
<!-- torso -->
  <link name="torso_link">
    <inertial>
      <origin xyz="-0.0082243 -0.0033535 0.25333" rpy="0 0 0" />
      <mass value="17.278" />
      <inertia ixx="0.32569" ixy="0.0023915" ixz="0.0039643" iyy="0.30556" iyz="-0.0022536" izz="0.15425" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/torso_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.01 0 0.25" rpy="0 0 0" />
      <geometry>
        <box size="0.25 0.16 0.37"/>
      </geometry>
    </collision>
  </link>
  <joint name="pelvis_joint" type="revolute"><!-- CRA-RI60-80 -->
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="pelvis_link" />
    <child link="torso_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.04" upper="1.04" effort="42" velocity="8.58701992" />
  </joint>
<!-- Left arm -->
  <link name="L_shoulder_pitch_link">
    <inertial>
      <origin xyz="0.0034819 -0.0047797 -1.2E-06" rpy="0 0 0" />
      <mass value="1.35" />
      <inertia ixx="0.0016146" ixy="-1.99E-05" ixz="-1E-07" iyy="0.0012512" iyz="-2E-07" izz="0.0014304" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/L_shoulder_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.570796327 0 1.570796327"/>
      <geometry>
        <cylinder radius="0.025" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="L_shoulder_pitch_joint" type="revolute"><!-- CRA-RI60-80 -->
    <origin xyz="-0.00015827 0.22119 0.38344" rpy="0.2618 0 0" />
    <parent link="torso_link" />
    <child link="L_shoulder_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.48" upper="1.48" effort="42" velocity="8.58701992" />
  </joint>
  <link name="L_shoulder_roll_link">
    <inertial>
      <origin xyz="0.0001178 0.0023667 -0.056312" rpy="0 0 0" />
      <mass value="0.55" />
      <inertia ixx="0.0014965" ixy="1E-07" ixz="-1.21E-05" iyy="0.0018786" iyz="8.8E-06" izz="0.0011623" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/L_shoulder_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.001 -0.09" rpy="-0.2618 0 0" />
      <geometry>
        <cylinder radius="0.02" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="L_shoulder_roll_joint" type="revolute"><!-- CRA-RI60-80 -->
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="L_shoulder_pitch_link" />
    <child link="L_shoulder_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.12" upper="3.17" effort="42" velocity="8.58701992" />
  </joint>
  <link name="L_shoulder_yaw_link">
    <inertial>
      <origin xyz="0.0030369 -0.000691 0.048579" rpy="0 0 1.570796327" />
      <mass value="1.95" />
      <inertia ixx="0.0059016" ixy="-2.9E-06" ixz="0.0002786" iyy="0.0057612" iyz="-6.3E-06" izz="0.0016272" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 1.570796327" />
      <geometry>
        <mesh filename="meshes/L_shoulder_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.05" rpy="0 0 1.570796327" />
      <geometry>
        <cylinder radius="0.02" length="0.06"/>
      </geometry>
    </collision>
  </link>
  <joint name="L_shoulder_yaw_joint" type="revolute"><!-- CRA-RI50-70 -->
    <origin xyz="0 -0.043208 -0.25042" rpy="-0.2618 0 0" />
    <parent link="L_shoulder_roll_link" />
    <child link="L_shoulder_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.69" upper="1.69" effort="23" velocity="10.157816247" />
  </joint>
  <link name="L_elbow_link">
    <inertial>
      <origin xyz="-0.0013729 0.0051926 -0.01857" rpy="0 0 1.570796327" />
      <mass value="0.25" />
      <inertia ixx="0.0003112" ixy="-1.1E-06" ixz="1.1E-06" iyy="0.0005758" iyz="2.23E-05" izz="0.0005034" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 1.570796327" />
      <geometry>
        <mesh filename="meshes/L_elbow_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.02" rpy="0 0 1.570796327" />
      <geometry>
        <cylinder radius="0.02" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="L_elbow_joint" type="revolute"><!-- CRA-RI50-70 -->
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="L_shoulder_yaw_link" />
    <child link="L_elbow_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.87" upper="1.95" effort="23" velocity="10.157816247" />
  </joint>
  <link name="L_forearm_yaw_link">
    <inertial>
      <origin xyz="0.0014016 0.0001246 0.09169" rpy="0 0 0" />
      <mass value="1.05" />
      <inertia ixx="0.0016627" ixy="3.5E-06" ixz="2.96E-05" iyy="0.001822" iyz="-5.7E-06" izz="0.0007356" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/L_forearm_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.082" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.025" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="L_forearm_yaw_joint" type="revolute"><!-- CRA-RI40-52 -->
    <origin xyz="0 0 -0.209" rpy="0 0 0" />
    <parent link="L_elbow_link" />
    <child link="L_forearm_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.53" upper="1.53" effort="8.3" velocity="12.356931104" />
  </joint>
  <link name="L_wrist_roll_link">
    <inertial>
      <origin xyz="0 -0.0047393 -2.85E-05" rpy="0 0 0" />
      <mass value="0.25" />
      <inertia ixx="8.23E-05" ixy="0" ixz="0" iyy="5.6E-05" iyz="2E-07" izz="8.3E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/L_wrist_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 1.570796327 0" />
      <geometry>
        <cylinder radius="0.015" length="0.01"/>
      </geometry>
    </collision>
  </link>
  <joint name="L_wrist_roll_joint" type="revolute"><!-- CRA-RI30-40 -->
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="L_forearm_yaw_link" />
    <child link="L_wrist_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-2.3" upper="1.39" effort="3.3" velocity="12.356931104" />
  </joint>
  <link name="L_wrist_pitch_link">
    <inertial>
      <origin xyz="8.81E-05 0.0081922 -0.051309" rpy="0 0 0" />
      <mass value="0.16" />
      <inertia ixx="0.0001452" ixy="-2E-07" ixz="2E-07" iyy="0.0001194" iyz="-4.49E-05" izz="6.56E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/L_wrist_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.16" rpy="0 0 0" />
      <geometry>
        <box size="0.06 0.03 0.18"/>
      </geometry>
    </collision>
  </link>
  <joint name="L_wrist_pitch_joint" type="revolute"><!-- CRA-RI30-40 -->
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="L_wrist_roll_link" />
    <child link="L_wrist_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.78" upper="1.67" effort="3.3" velocity="12.356931104" />
  </joint>
<!-- Right arm -->
  <link name="R_shoulder_pitch_link">
    <inertial>
      <origin xyz="0.003482 0.0047796 -1.4E-06" rpy="0 0 0" />
      <mass value="1.35" />
      <inertia ixx="0.0016147" ixy="1.99E-05" ixz="-2E-07" iyy="0.0012512" iyz="2E-07" izz="0.0014303" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/R_shoulder_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.570796327 0 1.570796327"/>
      <geometry>
        <cylinder radius="0.025" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="R_shoulder_pitch_joint" type="revolute"><!-- CRA-RI60-80 -->
    <origin xyz="-0.00015827 -0.22119 0.38344" rpy="-0.2618 0 0" />
    <parent link="torso_link" />
    <child link="R_shoulder_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.48" upper="1.48" effort="42" velocity="8.58701992" />
  </joint>
  <link name="R_shoulder_roll_link">
    <inertial>
      <origin xyz="0.00012 -0.0023541 -0.056316" rpy="0 0 0" />
      <mass value="0.55" />
      <inertia ixx="0.0014966" ixy="1E-07" ixz="-1.21E-05" iyy="0.0018788" iyz="-8.8E-06" izz="0.0018789" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/R_shoulder_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.001 -0.09" rpy="0.2618 0 0" />
      <geometry>
        <cylinder radius="0.02" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="R_shoulder_roll_joint" type="revolute"><!-- CRA-RI60-80 -->
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="R_shoulder_pitch_link" />
    <child link="R_shoulder_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-3.17" upper="0.12" effort="42" velocity="8.58701992" />
  </joint>
  <link name="R_shoulder_yaw_link">
    <inertial>
      <origin xyz="0.0030364 0.0006912 0.048579" rpy="0 0 -1.570796327" />
      <mass value="1.95" />
      <inertia ixx="0.0059016" ixy="3E-06" ixz="0.0002787" iyy="0.0057611" iyz="6.3E-06" izz="0.001627" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 -1.570796327" />
      <geometry>
        <mesh filename="meshes/R_shoulder_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.05" rpy="0 0 -1.570796327" />
      <geometry>
        <cylinder radius="0.02" length="0.06"/>
      </geometry>
    </collision>
  </link>
  <joint name="R_shoulder_yaw_joint" type="revolute"><!-- CRA-RI50-70 -->
    <origin xyz="0 0.043208 -0.25042" rpy="0.2618 0 0" />
    <parent link="R_shoulder_roll_link" />
    <child link="R_shoulder_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.69" upper="1.69" effort="23" velocity="10.157816247" />
  </joint>
  <link name="R_elbow_link">
    <inertial>
      <origin xyz="-0.0013805 -0.0051935 -0.018572" rpy="0 0 -1.570796327" />
      <mass value="0.25" />
      <inertia ixx="0.0003112" ixy="1.1E-06" ixz="1.1E-06" iyy="0.0005757" iyz="-2.23E-05" izz="0.0005034" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 -1.570796327" />
      <geometry>
        <mesh filename="meshes/R_elbow_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.02" rpy="0 0 -1.570796327" />
      <geometry>
        <cylinder radius="0.02" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="R_elbow_joint" type="revolute"><!-- CRA-RI50-70 -->
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="R_shoulder_yaw_link" />
    <child link="R_elbow_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.95" upper="0.87" effort="23" velocity="10.157816247" />
  </joint>
  <link name="R_forearm_yaw_link">
    <inertial>
      <origin xyz="0.0014 -0.0001237 0.09169" rpy="0 0 0" />
      <mass value="1.05" />
      <inertia ixx="0.0016625" ixy="-3.5E-06" ixz="2.96E-05" iyy="0.0018219" iyz="5.7E-06" izz="0.0007357" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/R_forearm_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.082" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.025" length="0.03"/>
      </geometry>
    </collision>
  </link>
  <joint name="R_forearm_yaw_joint" type="revolute"><!-- CRA-RI40-52 -->
    <origin xyz="0 0 -0.209" rpy="0 0 0" />
    <parent link="R_elbow_link" />
    <child link="R_forearm_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.53" upper="1.53" effort="8.3" velocity="12.356931104" />
  </joint>
  <link name="R_wrist_roll_link">
    <inertial>
      <origin xyz="0 0.0047393 -2.85E-05" rpy="0 0 0" />
      <mass value="0.25" />
      <inertia ixx="8.23E-05" ixy="0" ixz="0" iyy="5.6E-05" iyz="-2E-07" izz="8.3E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/R_wrist_roll_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 1.570796327 0" />
      <geometry>
        <cylinder radius="0.015" length="0.01"/>
      </geometry>
    </collision>
  </link>
  <joint name="R_wrist_roll_joint" type="revolute"><!-- CRA-RI30-40 -->
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="R_forearm_yaw_link" />
    <child link="R_wrist_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-1.39" upper="2.3" effort="3.3" velocity="12.356931104" />
  </joint>
  <link name="R_wrist_pitch_link">
    <inertial>
      <origin xyz="8.81E-05 -0.0081922 -0.051309" rpy="0 0 0" />
      <mass value="0.16" />
      <inertia ixx="0.0001452" ixy="2E-07" ixz="2E-07" iyy="0.0001194" iyz="4.49E-05" izz="6.56E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/R_wrist_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.16" rpy="0 0 0" />
      <geometry>
        <box size="0.06 0.03 0.18"/>
      </geometry>
    </collision>
  </link>
  <joint name="R_wrist_pitch_joint" type="revolute"><!-- CRA-RI30-40 -->
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="R_wrist_roll_link" />
    <child link="R_wrist_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.78" upper="1.67" effort="3.3" velocity="12.356931104" />
  </joint>
<!-- Head -->
  <link name="head_yaw_link">
    <inertial>
      <origin xyz="9.42E-05 -0.0015802 -0.0048308" rpy="0 0 0" />
      <mass value="0.8" />
      <inertia ixx="0.0023797" ixy="-5E-07" ixz="7E-07" iyy="0.0005019" iyz="5.7E-06" izz="0.0023519" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/head_yaw_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </collision>
  </link>
  <joint name="head_yaw_joint" type="revolute">
    <origin xyz="0.011342 0 0.62019" rpy="0 0 0" />
    <parent link="torso_link" />
    <child link="head_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.57" upper="1.57" effort="2.52" velocity="29.216811679" />
  </joint>
  <link name="head_pitch_link">
    <inertial>
      <origin xyz="0.021366 0.0020556 0.027951" rpy="0 0 0" />
      <mass value="0.72904" />
      <inertia ixx="0.0033823" ixy="4.5E-05" ixz="0.0004603" iyy="0.0044162" iyz="3.21E-05" izz="0.0042325" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/head_pitch_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.12 0.12"/>
      </geometry>
    </collision>
  </link>
  <joint name="head_pitch_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="head_yaw_link" />
    <child link="head_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.38" upper="0.33" effort="1.26" velocity="58.433623357" />
  </joint>
</robot>